
include *.txt 
include *.md
include *.py
recursive-include ./prediction_model/*
include ./prediction_model/datasets/*.csv
include ./prediction_model/trained_models/*.pkl
include ./tests/*
exclude PackagingMLModel/mlartifacts
recursive-exclude *__pycache__
recursive-exclude * *.py[co]